.menu-nav{
    margin-right: 50px;
    display: flex;
    justify-content: space-between;   
}
.menu-nav .btn ul li{
    list-style-type: none;
    display: inline-block;
    background-color: red;
}
a{  
    color: yellow;
    text-decoration: none;
}
li.btn:hover a{
    text-decoration: none;
    color: aqua;
    background-color: rgb(255, 0, 0);
    transition: 0.6s;
}
img{
    width: 20%;
}
header{
    display: flex;
    background-color: gray;
}
footer{
    color: red;
    background-color: darkgray;
}